@mixin gradientBg2($startColor, $endColor)
	background: $startColor
	background: linear-gradient(145deg, $startColor 0%, $endColor 80%, $endColor 100%)

.bg-gradient1 span,
.bg-gradient1:before
	@include gradientBg2(#52A0FD, #00e2fa)

.bg-gradient2 span,
.bg-gradient2:before
	@include gradientBg2(#44ea76, #39fad7)

.bg-gradient3 span,
.bg-gradient3:before
	@include gradientBg2(#fa6c9f, #ffe140)

.bg-gradient-red span,
.bg-gradient-red:before
	@include gradientBg2(#9d3b6d, #f23945)

.bg-gradient-green span,
.bg-gradient-green:before
	@include gradientBg2(#0fbcba, #21bf56)

.bg-gradient-yellow span,
.bg-gradient-yellow:before
	@include gradientBg2(#ffdd04, #fbb135)

.slider-cards .slider-card:nth-child(1n) .slider-card-inner
	@include gradientBg2(#ffdd04, #fbb135)

.wrapper
	margin: 5% auto
	text-align: center
	transform-style: perserve-3d
	perspecive: 800px

a
	text-decoration: none
	
	&:hover,
	&:focus,
	&:active
		text-decoration: none

.fancy-button
	display: inline-block
	margin: 30px
	font-size: 17px
	letter-spacing: 0.03em
	text-transform: uppercase
	color: #ffffff
	position: relative
	background: transparent
	border: unset
	
	&:before
		content: ''
		display: inline-block
		height: 40px
		position: absolute
		bottom: -5px
		left: 30px
		right: 30px
		z-index: -1
		border-radius: 30em
		filter: blur(20px) brightness(0.95)
		transform-style: preserve-3d
		transition: all 0.3s ease-out
	
	i
		margin-top: -1px
		margin-right: 20px
		font-size: 1.265em
		vertical-align: middle
	
	span
		display: inline-block
		padding: 18px 60px
		border-radius: 50em
		position: relative
		z-index: 2
		will-change: transform, filter
		transform-style: preserve-3d
		transition: all 0.3s ease-out
		transform: scale(1.04)
	
	&:focus,
	&:active
		color: #ffffff
	
	&:hover
		color: #ffffff
		
		span
			filter: brightness(1.05) contrast(1.05)
			transform: scale(0.95)
		
		&:before
			bottom: -7px
			opacity: 1
			filter: blur(20px)

.add
	width: 59px
	height: 59px
	position: fixed
	right: 30px
	bottom: 30px
	border-radius: 50em
	text-decoration: none
	//background: #8d3e3e
	color: #fff
	line-height: 54px
	text-align: center
	font-size: 30px
	padding: 10px
	z-index: 10
	
	&:before
		left: 0
		right: -22px
		bottom: -20px
		filter: blur(18px) brightness(1.15)
		@include dark
			filter: blur(20px) brightness(0.95)
	
	span
		padding: 0px
		width: 60px
		height: 60px
		display: flex
		align-items: center
		justify-content: center
		font-size: 20px
		
		i
			margin: 0
			line-height: unset
//border: 1px solid rgba(#fff, 0.1)
//box-sizing: border-box


.btn-ac
	border: unset
	background: unset
	padding: 0
	width: 35px
	height: 31px
	text-align: center
	line-height: 21px
	//outline: 1px solid red
	display: inline-flex
	margin: 0
	align-items: center
	justify-content: center
	color: rgba(#fff, 0.3)
	opacity: 1
	//border: 1px solid rgba(#fff, 0.1)
	//border-radius: 3px
	//background: rgba(#fff, 0.02)
	
	*
		opacity: 1

//&.ac-delete
//	color: #e86f6f
.btns-ac
	width: 35px
	flex-shrink: 0
	display: flex
	flex-direction: column
	margin-left: 3px
	
	form
		display: flex
		flex-direction: column
		align-items: center
		justify-content: center
	
	> *
		
		flex: 1 1 0
//outline: 1px solid indianred

//forms button
.form-buttons
	display: flex
	gap: 25px
	.send-button,
	.delete-button
		flex: 1 1 0
		display: inline-flex
		align-items: center
		justify-content: center
		white-space: nowrap
		box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), inset 0 0 1px 1px rgba(#fff, 0.1)
		border-radius: calc($form-round - 4px)
		background: rgba(#fff, 0.03)
	.delete-button
		flex-shrink: 0
		letter-spacing: 2px
		color: var(--gray-30)
		line-height: 26px
		padding: 10px
		text-transform: uppercase
	.send-button
		background: var(--form-color)
		line-height: 26px
		letter-spacing: 2px
		border-radius: calc($form-round - 4px)
		padding: 10px
		color-adjust: exact
		box-sizing: border-box
		transition: filter 0.3s linear, box-shadow 0.15s linear
		text-transform: uppercase
		border-color: var(--gray-75)
		color: var(--gray-90)
		font-weight: 500
		font-size: 22px
		flex: 2
		border: unset
		box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), inset 0 0 1px 1px rgba(#fff, 0.25)
		&:active
			box-shadow: 0 0 0 #000
//.send-button
//	flex: 2


.back-button
	background: unset
	border: unset
	padding: 5px 20px
	display: flex
	align-items: center
	display: none
	i
		color: #fcc02b
		font-size: 35px

