{% extends 'base.html' %} {% block content %}
	<div class="page_title {{ gradient }}" >
		<a href="#menu" class="side-panel-toggle" ><span class="line1" ></span ><span class="line2" ></span ></a >
		<span >{% block title %} {{ title }} {% endblock %}</span >
		<button id="go-back" >Go back!</button >
	</div >

	<div class="content" >
		{% if categories_income|length == 0 %}
			<div class="no-results" >You must add income categories first</div >
		{% else %}
			<form method="post" >
				<div class="flex flex-col mx-auto gap-15 mt-20" >
					<div class="flex input" >
						<input type="number" autofocus min="0" step="0.01" pattern="[0-9]+([\.,][0-9]+)?" name="amount"
									 placeholder="100" class="summ py-5 mr-20 transparent" value="{{ request.form['amount'] }}" />

						<div class="radio-group  radio-currency flex-nowrap flex-shrink-0" >
							<input type="radio" id="eur" checked name="currency" value="eur" >
							<label for="eur" >EUR</label >
							<input type="radio" id="usd" name="currency" value="usd" >
							<label for="usd" >USD</label >
							<input type="radio" id="ron" name="currency" value="ron" >
							<label for="ron" >RON</label >
							<input type="radio" id="mdl" name="currency" value="mdl" >
							<label for="mdl" >MDL</label >
						</div >


					</div >


					<div class="form-item" >
						<div class="radio-group category-group" >
							{% for id, name in categories_income %}

								<input type="radio" value="{{ id }}" name="category_income" id="{{ name }}" />
								<label for="{{ name }}" >{{ name }}</label >

							{% endfor %}
						</div >
					</div >


					<div class="form-group" >
						<textarea name="comment" placeholder="Comment"
											class="form-control" >{{ request.form['comment'] }}</textarea >
					</div >
					<button type="submit" class="py-8 send-button" >Add</button >
				</div >
			</form >
		{% endif %}
	</div >


{% endblock %}
