{% extends 'base.html' %} {% block content %}
	<div class="page_title {{ gradient }}" >
		<a href="#menu" class="side-panel-toggle" ><span class="line1" ></span ><span class="line2" ></span ></a >
		<span >{% block title %} {{ title }} {% endblock %}</span >
		<button class="back-button" ><i class="fa-solid fa-chevron-left" ></i ></button >
	</div >

	<div class="content flex flex-col gap-15" >
		{% if categories|length == 0 %}
			<div class="no-results" >You must add categories first (in expenses categories)</div >
		{% else %}
			<form method="post" >
				<input type="text" autofocus name="amount" placeholder="100" min="0" class="summ py-5 mr-20"
							 value="{{ request.form['amount'] }}" />

				<div class="mt-24" >
					<div class="subtitle3 mt-15" >Select Budget Category</div >
					<div class="radio-group category-group category-group-color" >
						{% for cid, name, color, state, count, budget_category in categories %}

							<input type="radio" value="{{ cid }}" name="category" id="{{ name }}" />
							<label for="{{ name }}" class="{{ color }}" ><span >{{ name }}</span ></label >

						{% endfor %}
					</div >
				</div >

				<div class="form-buttons mt-24" >
					<button type="submit" class="send-button" >Save budget</button >
				</div >


			</form >
		{% endif %}
	</div >


{% endblock %}
