<!DOCTYPE html>
<html lang="en" class="dark-theme" >
<head >
	<meta charset="utf-8" />

	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
	<link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename= 'manifest/icon-192x192.png') }}" >

	<link rel="stylesheet" href="{{ url_for('static', filename= 'css/splide.min.css') }}" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />

	<link rel="stylesheet" href="{{ url_for('static', filename= 'css/mmenu.css') }}" />
	<link rel="stylesheet" href="{{ url_for('static', filename= 'css/styles.css') }}" />
	<link rel="preconnect" href="https://fonts.googleapis.com" >
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin >
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap" rel="stylesheet" >
	<link rel="manifest" crossorigin="use-credentials"
				href="{{ url_for('static', filename= 'manifest/manifest.webmanifest') }}" />

	<title >{% block title %} {{ title }} {% endblock %}</title >
</head >
<body class="w-full flex flex-col" >

<div class="alert-wrap" >
	{% for cat, message in get_flashed_messages(True) %}
		<div class="alert bg-gradient-green {{ cat }}" >
			<span >{{ message }}
			<button class="alert-delete" ><i class="fa-solid fa-xmark" ></i ></button >
			</span >

		</div >
	{% endfor %}
</div >


<div class="flex container w-full h-full flex-1" >
	<section class="hidden sidebar-menu-wrap" >
		<ul class="sidebar-menu sticky top-0" >


			<li class="treeview home-link mb-10 {% if request.path == '/' %} active {% endif %}" >

				<a class="flex p-10" href="{{ url_for('index') }}" ><i class="fa-solid fa-bank mr-10" ></i >Home</a >
			</li >


			<li class="header header-expenses bg-gradient-red" ><span >EXPENSES</span ></li >

			<li >
				<ul class="test" >
					<li class="bg-gradient-red {% if request.path == '/add' %} active {% endif %}" >
						<i class="fa fa-regular fa-square-minus" ></i >
						<a href="/add" >Add Expense</a >
					</li >
					<li class="bg-gradient-red {% if request.path == '/categories' or title == 'Edit Category' %} active {% endif %}" >
						<i class="fa fa-grip-vertical" ></i >
						<a href="/categories" >Categories</a >
					</li >

					<li class="bg-gradient-red {% if request.path == '/all-expenses' %} active {% endif %}" >
						<i class="fa fa-solid fa-table-list" ></i >
						<a href="/all-expenses" >All Expenses</a >
					</li >
				</ul >
			</li >


			<li class="header header-incomes bg-gradient-green mt-20" ><span >INCOMES</span ></li >
			<li >
				<ul class="test test-incomes" >
					<li class="{% if request.path == '/add_income' %} active {% endif %}" >
						<i class="fa fa-regular fa-square-plus text-gradient-green" ></i >
						<a href="/add_income" >Add Income</a >
					</li >
					<li class="{% if request.path == '/categories_income' or title == 'Edit Category Income' %} active {% endif %}" >
						<i class="fa fa-solid fa-euro-sign" ></i >
						<a href="/categories_income" >Categories</a >
					</li >

					<li class="{% if request.path == '/incomes' %} active {% endif %}" >
						<i class="fa fa-solid fa-money-bill-1-wave" ></i >
						<a href="/incomes" >All Incomes</a >
					</li >
				</ul >
			</li >


			<li class="header bg-gradient1 mt-20" ><span >Budget</span ></li >
			<li >
				<ul class="test" >
					<li class="{% if request.path == '/budgets' %} active {% endif %}" >
						<i class="fa-solid fa-coins" ></i >
						<a href="/budgets" >Budgets</a >
					</li >
					<li class="{% if request.path == '/add_budget' %} active {% endif %}" >
						<i class="fa fa-regular fa-square-plus" ></i >
						<a href="/add_budget" >Add Budget</a >
					</li >

				</ul >
			</li >
			<li class="mt-20" style="margin-top: auto" >
				{#				<input type="checkbox" id="theme_toggle" >#}
				<div class="checkbox" >
					<div >
						<label >
							<input class="custom-form" type="checkbox" id="theme_toggle" >
							<span >Dark Theme</span >
						</label >
					</div >

				</div >
			</li >


		</ul >

	</section >

	<nav id="menu" >
		<ul class="list-menu" >
			<li ><a href="{{ url_for('index') }}" ><i class="fa-solid fa-bank" ></i >Home</a ></li >
			<li class="list-stats" ><a href="{{ url_for('stats') }}" ><i class="fa-regular fa-chart-bar" ></i >Stats</a >
			</li >

			<li class="list-title mt-20" ><span >Expenses</span >

			<li class="list-expense" ><a href="{{ url_for('add') }}" >
				<i class="fa fa-regular fa-square-minus" ></i >
				Add Expense</a >
			</li >

			<li class="list-expense" >
				<a href="{{ url_for('categories') }}" >
					<i class="fa fa-grip-vertical" ></i >
					Expenses Categories</a >
			</li >
			<li class="list-expense" >
				<a href="{{ url_for('all_expenses') }}" >
					<i class="fa fa-solid fa-table-list" ></i >
					All Expenses</a >
			</li >


			</li >
			<li class="list-title" ><span >Incomes</span >

			<li class="list-income" ><a href="{{ url_for('add_income') }}" ><i class="fa fa-regular fa-square-plus" ></i >Add
																																																										Income</a >
			</li >
			<li class="list-income" ><a href="{{ url_for('categories_income') }}" ><i class="fa fa-solid fa-euro-sign" ></i >Incomes
																																																											 Categories</a >
			</li >
			<li class="list-income" ><a href="{{ url_for('incomes') }}" ><i class="fa fa-solid fa-money-bill-1-wave" ></i >All
																																																										 Incomes</a >
			</li >


			</li >
			<li class="list-title" ><span >Budgets</span >

			<li class="list-budget" ><a href="{{ url_for('add_budget') }}" ><i class="fa fa-regular fa-square-plus" ></i >Add
																																																										Budget</a >
			</li >
			<li class="list-budget" ><a href="{{ url_for('budgets') }}" ><i class="fa-solid fa-coins" ></i >Budgets</a ></li >


			</li >

		</ul >
	</nav >

	<div class="right-container overflow--hidden flex-1 " >

		{% block content %} {% endblock %}

	</div >


</div >

{% if request.path == '/' or request.path == '/all-expenses' %}
	<a href="/add" class="fancy-button  bg-gradient-red add" ><span ><i class="fa-solid fa-plus" ></i ></span ></a >
{% elif request.path == '/incomes' %}
	<a href="/add_income" class="fancy-button  bg-gradient-green add" ><span ><i
			class="fa-solid fa-plus" ></i ></span ></a >
{% endif %}


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" ></script >
<script src="{{ url_for('static', filename= 'javascript/splide.min.js') }}" ></script >
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css" >
<script src="https://cdn.jsdelivr.net/npm/flatpickr" ></script >
<script src="https://cdnjs.cloudflare.com/ajax/libs/jQuery.mmenu/8.5.24/mmenu.js"
				integrity="sha512-/eAYGmMVRmV/y/BIaoner9FeGwgoyLP2HiNGUpGfJrVBbDSLH/LH0uRQUHzsQFuPz4LGX8HErB1j+bXIqsjEgw=="
				crossorigin="anonymous" referrerpolicy="no-referrer" ></script >


<script src="{{ url_for('static', filename= 'javascript/scripts.js') }}" ></script >
</body >
</html >
