<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8"/>
	<meta
			name="viewport"
			content="width=device-width, initial-scale=1, shrink-to-fit=no"
	/>
	<link
			rel="stylesheet"
			href="{{ url_for('static', filename= 'css/styles.css') }}"
	/>
	<title>{% block title %} Buget {% endblock %}</title>
</head>
<body>
<nav class="navbar">

	<ul class="navbar-nav flex gap-42">
		<li class="nav-item">
			<a class="navbar-brand" href="{{ url_for('index') }}">Home</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/add">Add Expense</a>
		</li>

		<li class="nav-item">
			<a class="nav-link" href="/categorii">Categories</a>
		</li>
	</ul>
</nav>
<div class="container mt-42">{% block content %} {% endblock %}</div>
{% for cat, message in get_flashed_messages(True) %}
	<div class="alert {{ cat }}">{{ message }}</div>
{% endfor %}

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script
		src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"
></script>
</body>
</html>
