{% extends 'base.html' %} {% block content %}
	<div class="page_title {{ gradient }}" >
		<a href="#menu" class="side-panel-toggle" ><span class="line1" ></span ><span class="line2" ></span ></a >
		<span >{% block title %} {{ title }} {% endblock %}</span >
	</div >

	<div class="content" >
		<div class=" cards flex-1 mx-auto" >
			<div class="subtitle2" >Active budgets</div >
			<div class="budgets " >

				{% for su, bid, categor, color, amount, cnt in budgets2 %}
					<div class="flex mt-20" >
						<div class="budget-wrap  {{ color }}" >
							<div class="budget-wrap-span" >
								{% set per = su * 100 / amount %}
								{% set today = current_day * 100 / days_in_month %}
								<div class="budget-header subtitle2" >
									<div class="budget-title" >{{ categor }}:</div >
									<div class="budget-su {% if per > 100 %} over{% endif %}
									{% if 75 < per < 100 %} startover{% endif %}" >{{ su|int }} <span >&euro;</span ></div >
									<div class="budget-from" >from</div >
									<div class="budget-amount" >{{ amount|int }}<span >&euro;</span ></div >


								</div >

								<div class="budget-progress" >
									<div class="progress
									{% if per > 100 %} over{% endif %}
									{% if 75 < per < 100 %} startover{% endif %}
									" style="width:{{ per|int }}%" >{{ per|int }}%
									</div >

									<div class="budget-progress-hide" >
										<div class="today" style="left: {{ today }}%" ></div >
									</div >


								</div >
								<div class="flex items-center flex-wrap" >
									<div class="budget-can-spend mt-5 ml-5" >
										{% set remained = amount - su %}
										{% if remained > 0 %}You can spend: <strong >{{ remained|int }}&euro;</strong > {% endif %}
									</div >
									<div class="budget-transactions ml-auto" >Transactions: <strong > {{ cnt }}</strong ></div >
								</div >


							</div >

						</div >
						<div class="btns-ac" >
							<a class="btn-ac" href="/edit_budget/{{ bid }}" ><i class="fa-solid fa-pen-to-square" ></i ></a >
							<a class="btn-ac" href="/delete-budget/{{ bid }}" onclick="return confirm('Delete this budget?')" ><i
									class="fa-solid fa-trash-can" ></i ></a >

						</div >
					</div >

				{% endfor %}


			</div >

			<div class="subtitle2 mt-42" >All Budgets</div >
			<div class="all-budgets" >
				{% for bid, categor, color, amount in all_budgets %}
					<div class="all-budgets-item flex items-center {{ color }}" >
						{{ categor }} - {{ amount|int }}&euro;
						<div class="all-budgets-button ml-auto" >
							<a class="btn-ac" href="/edit_budget/{{ bid }}" ><i class="fa-solid fa-pen-to-square" ></i ></a >
							<a class="btn-ac" href="/delete-budget/{{ bid }}" onclick="return confirm('Delete this budget?')" ><i
									class="fa-solid fa-trash-can" ></i ></a >
						</div >
					</div >
				{% endfor %}
			</div >
		</div >
	</div >


{% endblock %}

