{% extends 'base.html' %} {% block content %}
	<div class="page_title {{ gradient }}" >
		<a href="#menu" class="side-panel-toggle" ><span class="line1" ></span ><span class="line2" ></span ></a >
		<span >{% block title %} {{ title }} {% endblock %}</span >
	</div >

	<div class="content" >
		<div class=" cards flex-1 mx-auto mt-50" >

			{#			<div class="budgets" >#}
			{#				{% for su, categor, colorb, amount in budgets %}#}
			{#					#}
			{#					<div class="budget-wrap mt-20" >#}
			{#						{% set per = su * 100 / amount %}#}
			{#						{% set color = '#0a0a0a' %}#}
			{#						{% if per|int > 100 %}#}
			{#							{% set color = 'red' %}#}
			{#						{% endif %}#}
			{##}
			{#						{% if not amount %}#}
			{#							{% set amount = '0' %}#}
			{#							sadfasd#}
			{#						{% endif %}#}
			{##}
			{#						<span class="budget-title {{ colorb }}" >{{ categor }}</span >#}
			{#						<div class="budget" style="background: rgba(0,0,0,0.2); padding: 5px" >#}
			{#							<div class="budget-inner "#}
			{#									 style="height: 20px;background: {{ color }}; max-width: 100%; text-align: right; width: {{ per|int }}%" >{{ per|int }}%#}
			{#							</div >#}
			{#						</div >#}
			{#						<div class="budget-amounts" >#}
			{#							<span class="budget-current" > {{ su }}</span >#}
			{#							<span class="budget-from" >from: </span >#}
			{#							<span class="budget-total" >{{ amount }}</span >#}
			{#						</div >#}
			{##}
			{#					</div >#}
			{#				{% endfor %}#}
			{#			</div >#}
			{{ days_in_month }}
			{{ current_day }}


			<div class="budgets mt-20" >

				{% for su, bid, categor, color, amount in budgets2 %}
					<div class="budget-wrap mt-20 {{ color }}" >
						<div class="budget-wrap-span" >
							{% set per = su * 100 / amount %}
							{% set today = current_day * 100 / days_in_month %}
							<div class="budget-title subtitle2" >{{ categor }} - {{ su|int }}&euro; from {{ amount|int }}&euro; ///
								{% set remained = amount - su %}
								{% if remained > 0 %}you can spend: {{ remained|int }}&euro; {% endif %}
							</div >

							<div class="budget-progress" >
								<div class="progress
									{% if per > 100 %} over{% endif %}
									{% if 75 < per < 100 %} startover{% endif %}
									" style="width:{{ per|int }}%" >{{ per|int }}%
								</div >

								<div class="budget-progress-hide" >
									<div class="today" style="left: {{ today }}%" ></div >
								</div >


							</div >
							<a href="/edit_budget/{{ bid }}" > edit</a >
							<form class="form-delete" action="{{ url_for('delete_budget', id=bid) }}" method="POST" >
								<button type="submit" class="btn btn-delete" > X</button >
							</form >
						</div >

					</div >
				{% endfor %}


			</div >


		</div >
	</div >


{% endblock %}

