{% extends 'base.html' %} {% block content %}
	<div class="page_title {{ gradient }}" >
		<a href="#menu" class="side-panel-toggle" ><span class="line1" ></span ><span class="line2" ></span ></a >
		<span >{% block title %} {{ title }} {% endblock %}</span >
		<button class="back-button" ><i class="fa-solid fa-chevron-left" ></i ></button >
	</div >
	<div class="content flex flex-col gap-15" >

	<div >
		<div class="subtitle2 mt-15" >Add Category</div >
		<form method="post" >
			<div class="form-group" >
				<input type="text" name="category" placeholder="Category Name" class="big-input"
							 value="{{ request.form['category'] }}" />
			</div >
			<div class="subtitle3 mt-24" >Select category color</div >


			<div class="radio-group category-group" >
				{% for i in range(23) %}
					<input type="radio" value="{{ 'gradient_'+ i|string  or  request.form.get('color') }}" name="color"
								 id="gradient_{{ i }}" >
					<label for="gradient_{{ i }}" class="gradient_{{ i }}" ><span >#</span ></label >
				{% endfor %}
			</div >


			<div class="form-buttons mt-24" >
				<button type="submit" class="send-button" name="cat" >Add</button >
			</div >
		</form >
	</div >

	<div class="divider" ></div >


	<div >
		<div class="mt-24 subtitle2 inline-flex flex-wrap items-center" >Edit Categories
			<div class="subtitle3 mt-10" > (click to edit)</div >
		</div >
		<div class=" flex flex-wrap radio-group category-group category-group-edit" >
			{% for category in categories %}
				<label class="badge {{ category['color'] }} {% if category['state'] == 'true' %} hide-category {% endif %}" >
					<a href="/edit-category/{{ category['cid'] }}" >{{ category['name'] }}
						<i class="fa-regular fa-pen-to-square" ></i >
					</a >

				</label >

			{% endfor %}

		</div >


	</div >




{% endblock %}
