{% extends 'base.html' %} {% block content %}
	<div class="d-flex mt-5">
		<form method="post">
			<div class="form-group">
				<input
						type="text"
						name="category"
						placeholder="Denumirea categoriei"
						class="form-control"
						value="{{ request.form['category'] }}"
				/>
			</div>
			<div class="form-group mt-5">
				<input
						type="text"
						name="color"
						placeholder="Culoarea"
						class="form-control"
						value="{{ request.form['color'] }}"
				/>
			</div>
			<div class="form-group mt-5">
				<button type="submit" class="add-button" name="cat">
					Add category
				</button>
			</div>
		</form>

		<form method="post" class="mt-30">
			<div class="form-group">
				<select name="category_id" id="" class="form-control">
					{% for category in categories %}
						<option value="{{ category['name'] }}">{{ category['name'] }}</option>
					{% endfor %}
				</select>
			</div>
			<div class="form-group mt-5">
				<input
						type="text"
						name="subcategory"
						placeholder="Denumirea subcategoriei"
						class="form-control"
						value="{{ request.form['subcategory'] }}"
				/>
			</div>

			<div class="form-group mt-5">
				<button type="submit" class="add-button" name="subcat">
					Add subcategory
				</button>
			</div>
		</form>

		<div class="ml-5 mt-42">
			Categorii: {% for category in categories %}
			<span class="badge badge-warning"
			>{{ category['name'] }}

      <form class="form-delete"
						action="{{ url_for('cat_delete', id=category['id']) }}"
						method="POST"
			>
				<button type="submit" class="btn btn-delete">X</button>
				</form>
    </span>

		{% endfor %}
			<hr/>
			Subcategorii: {% for subcategory in subcategories %}
			<span class="badge badge-info"
			>{{ subcategory['name'] }}
      <form class="form-delete"

						action="{{ url_for('subcat_delete', id=subcategory['id']) }}"
						method="POST"
			>
        <button type="submit" class="btn btn-delete">X</button>
      </form>
    </span>

		{% endfor %}
		</div>
	</div>

{% endblock %}
