{% extends 'base.html' %} {% block content %}
	<div class="page_title {{ gradient }}" >
		<a href="#menu" class="side-panel-toggle" ><span class="line1" ></span ><span class="line2" ></span ></a >
		<span >{% block title %} {{ title }} {% endblock %}</span >
	</div >
	<div class="content" >


	<div class=" subtitle2" >Add category:</div >
	<form method="post" >
		<div class="form-group" >
			<input type="text" name="category" placeholder="Category Name" class="form-control"
						 value="{{ request.form['category'] }}" />
		</div >
		<div class="form-group mt-5" >

			<div class="radio-group category-group" >
				{% for i in range(37) %}
					<input type="radio" value="{{ 'gradient_'+ i|string  or  request.form.get('color') }}" name="color"
								 id="gradient_{{ i }}" >
					<label for="gradient_{{ i }}" class="gradient_{{ i }}" ><span style="color:#fff" >#</span ></label >
				{% endfor %}
			</div >

			{#					{% for i in range(37) %}#}
			{#						<div class="gradient_{{ i }}"#}
			{#								 style="width: 120px; height: 40px; display: inline-flex; color: #fff; margin:3px " >#}
			{#							<input type="checkbox" name="color" value="gradient_{{ i }}" >{{ categories['color'] }}#}
			{##}
			{#						</div >#}
			{#					{% endfor %}#}
		</div >
		<div class="form-group mt-5" >
			<button type="submit" class="add-button" name="cat" >
				Add category
			</button >
		</div >
	</form >


	<div class="mt-42 subtitle2" >All categories:</div >
	<div class="  flex flex-wrap radio-group category-group" >
		{% for category in categories %}
			<label class="badge {{ category['color'] }} {% if category['state'] == 'true' %} hide-category {% endif %}" >
				<span >{{ category['name'] }} </span >

				<a href="/edit-category/{{ category['cid'] }}" class="ml-10" ><i class="fa-solid fa-pen-to-square" ></i ></a >
				{#<a href="/category-delete/{{ category['id'] }}" >delete</a >#}
			</label >

		{% endfor %}

	</div >





{% endblock %}
