{% extends 'base.html' %} {% block content %}
	<div class="page_title {{ gradient }}" >
		<a href="#menu" class="side-panel-toggle" ><span class="line1" ></span ><span class="line2" ></span ></a >
		<span >{% block title %} {{ title }} {% endblock %}</span >
	</div >
	<div class="content" >
		{% if categories_income|length == 0 %}
			<div class="no-results" >You don't have any income categories added yet.</div >
		{% endif %}

		<form class="mt-20" method="post" >
			<div class="form-group" >
				<input type="text" name="category_income" placeholder="Income Category Name" class="form-control"
						{#					value="{{ request.form['category_income'] }}"#} />
				{#				<input type="checkbox" name="primordial" value="true" > Primary or not?#}

				<div class="switch switch-big" >
					<input type="checkbox" id="primordial" name="primordial" value="true" >
					<label for="primordial" ></label >Primary
				</div >


			</div >

			<div class="form-group mt-5" >
				<button type="submit" class="fancy-button  bg-gradient-yellow m-0" name="cat" >
					<span >Add income category</span >
				</button >
			</div >
		</form >

		<div class="flex gap-15 flex-wrap mt-30" >
			{% for id, category_income, primordial, state in categories_income %}
				<div
						class="badge {% if primordial == 'true' %} primary {% endif %} {% if state == 'true' %} hide-category {% endif %}" >{{ category_income }}
					<a href="/edit-category-income/{{ id }}" >edit</a ><a href="/category-income-delete/{{ id }}" >delete2</a >
				</div >

			{% endfor %}
		</div >

		<div class="flex gap-15 flex-wrap mt-30" >
			{% for id, category_income, primordial, state in categories_income_second %}
				<div
						class="badge {% if primordial == 1 %} primary {% endif %} {% if state == 'true' %} hide-category {% endif %}" >{{ category_income }}<a
						href="/edit-category-income/{{ id }}" >edit</a ><a href="/category-income-delete/{{ id }}" >delete2</a >
				</div >

			{% endfor %}
		</div >


	</div >

{% endblock %}
