{% extends 'base.html' %} {% block content %}
	<div class="page_title {{ gradient }}" >
		<button class="side-panel-toggle" ><span class="line1" ></span ><span class="line2" ></span ></button >
		<span >{% block title %} {{ title }} {% endblock %}</span >
	</div >

	<div class="content" >
		<form method="post" >
			<input type="text" name="category" placeholder="Category Name" class="form-control"
						 value="{{ request.form['name'] or category['name'] }}" />
			<div class="switch switch-big" >
				<input type="checkbox" id="primordial" name="primordial" value="true"
						{% if category.primordial == 'true' %} checked{% endif %}
				>
				<label for="primordial" ></label >
			</div >
			Primary or not?


			<div class="mt-20 flex gap-20 items-center" >
				<div class="switch switch-big" >
					<input type="checkbox" id="hide_category" name="state" value="true" {% if category.state == 'true' %}
								 checked{% endif %}>
					<label for="hide_category" ></label >
				</div >
				Hide
			</div >


			<button type="submit" class="send-button" name="cat" >Submit</button >


			<hr />
		</form >
		<a href="/category-income-delete/{{ category['id'] }}" >delete2</a >
		{#		<form class="form-delete" action="{{ url_for('cat_delete', id=category['id']) }}" method="POST" >#}
		{#			<button type="submit" class="btn btn-delete" name="cat_del" >X</button >#}
		{#		</form >#}

	</div >




{% endblock %}
