{% extends 'base.html' %} {% block content %}
	<div class="page_title {{ gradient }}" >
		<a href="#menu" class="side-panel-toggle" ><span class="line1" ></span ><span class="line2" ></span ></a >
		<span >{% block title %} {{ title }} {% endblock %}</span >
	</div >

	<div class="content" >
		<form method="post" >


			<div class="flex" >
				<input type="number" name="sum" placeholder="Amount" class="form-control" step="0.01"
							 pattern="[0-9]+([\.,][0-9]+)?" value="{{ request.form['sum'] or expense['sum'] }}" />
			</div >

			<div class="form-group mt-5" >
				<input data-toggle="datepicker" type="text" name="date" placeholder="Date" class="form-control"
						{#						pattern="\d{1,2}/\d{1,2}/\d{4}"#} value="{{ request.form['date_s'] or expense['date'] }}" />

			</div >


			<div class="radio-group category-group" >
				{% for id, name, color, state in categories %}
					<input type="radio" value="{{ id }}" name="category" id="{{ name }}"
							{% if id == expense['category'] %} checked {% endif %} >
					<label for="{{ name }}" ><span class="{{ color }}" >{{ name }}</span ></label >
				{% endfor %}
			</div >

			<div class="radio-group category-group" >
				{% for id, name in subcategories %}
					<input type="radio" value="{{ id }}" name="subcategory" id="{{ name }}"
							{% if id == expense['subcategory'] %} checked {% endif %}
					>
					<label for="{{ name }}" >{{ name }}</label >

				{% endfor %}

			</div >


			<div class="form-group mt-10" >
    <textarea name="comment" placeholder="Comment" class="form-control" >
{{ request.form['comment'] or expense['comment'] }}</textarea >
			</div >
			<div class="form-group mt-10" >
				<button type="submit" class="send-button" >Submit</button >
			</div >

			<hr />
		</form >
		<form action="{{ url_for('delete', id=expense['id']) }}" method="POST" class="mt-10" >
			<input type="submit" value="Delete Expense" class="add-button"
						 onclick="return confirm('Are you sure you want to delete this post?')" />
		</form >
	</div >




{% endblock %}
