{% extends 'base.html' %} {% block content %}
	<div class="page_title {{ gradient }}" >
		<a href="#menu" class="side-panel-toggle" ><span class="line1" ></span ><span class="line2" ></span ></a >
		<span >{% block title %}{{ title }}{% endblock %}</span >
	</div >

	<div class="content" >
		<form method="post" >


			<div class="subtitle3" >Edit Amount - &euro;</div >
			<input type="number" autofocus name="sum" placeholder="Amount" class="summ" min="0" step="0.01"
						 pattern="[0-9]+([\.][0-9])" value="{{ request.form['sum'] or expense['sum'] }}" />

			<div class="subtitle3 mt-24" >Edit Date</div >
			<input data-toggle="datepicker" type="text" name="date" placeholder="Date" class="form-control"
						 value="{{ request.form['date_s'] or expense['date'] }}" />

			<div class="subtitle3 mt-24" >Select Category</div >
			<div class="radio-group category-group" id="select-add-category" >
				{% for id, name, color, state in categories %}
					<input type="radio" value="{{ id }}" name="category" id="{{ name }}"
							{% if id == expense['category'] %} checked {% endif %} >
					<label for="{{ name }}" class="{{ color }}" ><span >{{ name }}</span ></label >
				{% endfor %}
			</div >

			<div class="subtitle3 mt-24 subtitle-subcategory" >Select Subcategory</div >
			<div class="radio-group category-group" id="subcategories-add" >

				{% for id, name, category in subcategories %}
					<input type="radio" value="{{ id }}" name="subcategory" id="{{ 'sub_' + name }}"
							{% if id == expense['subcategory'] %} checked {% endif %}
					>
					<label for="{{ 'sub_'+ name }}" class="{{ 'sub_'+category }}" >{{ name }}</label >

				{% endfor %}

			</div >


			<div class="subtitle3 mt-24" >Edit Comment</div >
			<textarea name="comment" placeholder="Comment"
								class="form-control" >{{ request.form['comment'] or expense['comment'] }}</textarea >

			<div class="form-buttons mt-24" >
				<button type="submit" class="send-button" >Submit</button >
				<a href="/delete-expense/{{ expense['id'] }}" class="delete-button"
					 onclick="return confirm('Delete this expense?')" >Delete {{ expense['id'] }}</a >
			</div >


		</form >

	</div >




{% endblock %}
