{% extends 'base.html' %} {% block content %}
	<div class="page_title {{ gradient }}" >
		<a href="#menu" class="side-panel-toggle" ><span class="line1" ></span ><span class="line2" ></span ></a >
		<span >{% block title %} {{ title }} {% endblock %}</span >
	</div >

	<div class="content " >
		<form method="post" >
			<div class="subtitle3 mt-24" >Edit subcategory</div >
			<input type="text" autofocus name="subcategory" placeholder="Subcategory Name" class="big-input"
						 value="{{ request.form['name'] or subcategory['name'] }}" />
			<div class="mt-20 flex gap-20 items-center" >
				<div class="switch switch-big" >
					<input type="checkbox" id="hide_subcategory" name="state" value="true" {% if subcategory.state == 'true' %}
								 checked{% endif %}>
					<label for="hide_subcategory" ></label >
				</div >
				Hide
			</div >

			<div class="form-buttons mt-24" >
				<button type="submit" class="send-button" name="subcat" >Save</button >

				<a href="/subcategory-delete/{{ subcategory['id'] }}" class="delete-button"
					 onclick="return confirm('Delete this subcategory?')" >Delete Subcategory</a >
			</div >


		</form >

	</div >




{% endblock %}
