{% extends 'base.html' %} {% block content %}
	<div class="page_title {{ gradient }}" >
		<a href="#menu" class="side-panel-toggle" ><span class="line1" ></span ><span class="line2" ></span ></a >
		<span >{% block title %} {{ title }} {% endblock %}</span >
		<button class="back-button" ><i class="fa-solid fa-chevron-left" ></i ></button >
	</div >

	<div class="content" >
		{% if categories|length == 0 %}
			<div class="no-results" >You must add categories first (in expenses categories)</div >
		{% else %}
			<form method="post" >
				<div class="container flex flex-col mx-auto gap-15 mt-20" >
					<div class="flex flex-col" >
						<input type="number" autofocus name="amount" placeholder="100" class="summ py-5 mr-20" min="0" step="1"
									 value="{{ request.form['amount'] or budget['amount']|int }}" />


						<div class="radio-group category-group category-group-color" >
							{% for cid, name, color, state, count, budget_category in categories %}

								<input type="radio" value="{{ cid }}" name="category" id="{{ name }}" {% if cid == budget['category'] %}
											 checked {% endif %} >
								<label for="{{ name }}" class="{{ color }}" ><span >{{ name }}</span ></label >

							{% endfor %}
						</div >


						<button type="submit" class="py-8 send-button" >Save</button >
					</div >


				</div >
			</form >
		{% endif %}
	</div >


{% endblock %}
