{% extends 'base.html' %} {% block content %}
	<div class="page_title {{ gradient }}" >
		<a href="#menu" class="side-panel-toggle" ><span class="line1" ></span ><span class="line2" ></span ></a >
		<span >{% block title %}{{ title }}:
			<strong >{{ category['name'] }}</strong > {% endblock %}</span ></div >

	<div class="content" >
		<form method="post" >
			<input type="text" autofocus name="category" placeholder="Category Name" class="form-control"
						 value="{{ request.form['name'] or category['name'] }}" />


			<div class="radio-group category-group" >
				{% for i in range(23) %}
					<input type="radio" value="{{ request.form['color'] or 'gradient_'+i|string }}" name="color"
								 id="gradient_{{ i }}" {% if  category['color'] == 'gradient_'+ i|string %} checked {% endif %}>
					<label for="gradient_{{ i }}" class="gradient_{{ i }}"
								 style="{% if  category['color'] == 'gradient_'+ i|string %} transform: scale(1.4); box-shadow: 0 0 12px rgba(0,0,0,0.5) {% endif %}" ><span >#</span ></label >
				{% endfor %}
			</div >

			<div class="mt-20 flex gap-20 items-center" >
				<div class="switch switch-big" >
					<input type="checkbox" id="hide_category" name="state" value="true" {% if category.state == 'true' %}
								 checked{% endif %}>
					<label for="hide_category" ></label >
				</div >
				Hide
			</div >


			<button type="submit" class="send-button mt-20" name="cat" >Save</button >
			<a href="/category-delete/{{ category['id'] }}" >Delete</a >

		</form >

		<div class="divider" ></div >

		<form method="post" class="mt-50" >
			<input type="hidden" name="category_id" value="{{ category['id'] }}" >

			<div class="form-group mt-5" >
				<input type="text" name="subcategory" placeholder="Subcategory Name" class="form-control"
							 value="{{ request.form['subcategory'] }}" />
			</div >

			<div class="form-group mt-5" >
				<button type="submit" class="add-button" name="subcat" >
					Add subcategory
				</button >
			</div >
		</form >


		<div class="mt-50" >Subcategories:</div >
		<div class="flex flex-wrap radio-group category-group" >

			{% for subcategory in subcategories if (category['id'] ==  subcategory['sub_cat_id']) %}




				<label class="badge badge-subcategory {% if subcategory['sub_state'] == 'true' %} hide-category {% endif %}" >
					{{ subcategory['sub_name'] }}
					<a href="/edit-subcategory/{{ subcategory['sub_id'] }}" class="ml-10" ><i
							class="fa-solid fa-pen-to-square" ></i ></a >
					{#<a href="/subcategory-delete/{{ subcategory['id'] }}" >delete</a >#}

				</label >

			{% else %}
				<div class="no-results m-0 my-10 opacity-50" >You have no subcategories in this category</div >





			{% endfor %}


		</div >


	</div >




{% endblock %}
