{% extends 'base.html' %} {% block content %}
	<div class="page_title {{ gradient }}" >
		<a href="#menu" class="side-panel-toggle" ><span class="line1" ></span ><span class="line2" ></span ></a >
		<span >{% block title %} {{ title }} {% endblock %}</span >
		<button class="back-button" ><i class="fa-solid fa-chevron-left" ></i ></button >
	</div >

	<div class="content flex flex-col gap-15" >
		<form method="post" >


			<div class="" >
				<input type="number" autofocus name="amount" placeholder="Amount" class="big-input" step="0.01"
							 pattern="[0-9]+([\.,][0-9]+)?" min="0" value="{{ request.form['amount'] or income['amount'] }}" />
			</div >

			<div class="mt-15" >
				<input data-toggle="datepicker" type="text" name="date" placeholder="Date" class="form-control"
							 value="{{ request.form['date_s'] or income['date'] }}" />

			</div >


			<div class="radio-group category-group mt-15" >
				{% for id, name in categories %}
					<input type="radio" value="{{ id }}" name="category" id="{{ name }}"
							{% if id == income['category'] %} checked {% endif %} >
					<label for="{{ name }}" >{{ name }}</label >

				{% endfor %}
			</div >


			<div class="form-group mt-15" >
				<textarea name="comment" placeholder="Comment"
									class="" >{{ request.form['comment'] or income['comment'] }}</textarea >
			</div >
			<div class="form-buttons mt-24" >
				<button type="submit" class="send-button" >Save</button >

				<a href="/delete-income/{{ income['id'] }}" class="delete-button"
					 onclick="return confirm('Delete this income?')" >Delete
																														income</a >
			</div >


		</form >

	</div >




{% endblock %}
