{% extends 'base.html' %} {% block content %}
	<div class="page_title {{ gradient }}" >
		<a href="#menu" class="side-panel-toggle" ><span class="line1" ></span ><span class="line2" ></span ></a >
		<span >{% block title %} {{ title }} {% endblock %}</span >
	</div >

	<div class="content" >
		{% if incomes|length == 0 %}
			<div class="no-results mt-50" >You have not added any income yet. Click on (+) to add</div >
		{% else %}
			<div class="cards  relative" >
				{% for key, list in incomes|groupby('year')|sort(attribute='0', reverse=True) %}
					<div class="ml-10 cards-day" >{{ key }} </div >
					{% for key2, list2 in list|groupby('month')|sort(attribute='0', reverse=True) %}
						<div class=" subtitle2 mt-20" >{{ key2|int|month_name }} </div >
						{% for id, month, year, amount, category, comment in list2 %}

							<div class="card flex items-center relative overflow-hidden flex-wrap  card-income " >
								<div class="flex items-center w-full" >
									<div class="card-info flex flex-1" >
										<div class="flex flex-1" >
											<span class="card-amount flex items-center" >  {{ amount }} <span >&euro;</span > </span >
											<div class="flex flex-col justify-center ml-15" >

												<div class="flex items-center" >
													<span class="{{ color }} card-category" >  {{ category }}  </span >
													{% if (subcategory != '') and (subcategory !=None) %}
														<span class="card-subcategory ml-10" >  {{ subcategory }}  </span >
													{% endif %}
												</div >



												{% if (comment != '') and (comment !=None) %}
													<span class="block mt-5 card-comment" >  {{ comment }} </span >
												{% endif %}
											</div >

										</div >

										<div class="card-btns  flex items-center flex-shrink-0 ml-auto" >
											<a href="/income-edit/{{ id }}" class="btn-ac" >
												<i class="fa-solid fa-pen-to-square" ></i >
											</a >


											<form action="{{ url_for('delete_income', id=id) }}" method="POST" >
												<button type="submit" class="btn-ac"
																onclick="return confirm('Are you sure you want to delete this post?')" >
													<i class="fa-solid fa-trash-can" ></i >
												</button >
											</form >

										</div >


									</div >


								</div >


							</div >
						{% endfor %}
					{% endfor %}

				{% endfor %}

			</div >

		{% endif %}


	</div >


{% endblock %}
