{% extends 'base.html' %} {% block content %}
	<div class="page_title {{ gradient }}" >
		<a href="#menu" class="side-panel-toggle" ><span class="line1" ></span ><span class="line2" ></span ></a >

		<span >{% block title %} {{ title }} {% endblock %}</span >

	</div >

	<div class="content w-full" >


		<div class="flex flex-col w-full" >
			<div class="budgets budgets-home flex flex-col gap-30" >

				{% for su, bid, categor, color, amount in budgets2 %}
					<div class="flex" >
						<div class="budget-wrap  {{ color }}" >
							<div class="budget-wrap-span" >
								{% set per = su * 100 / amount %}
								{% set today = current_day * 100 / days_in_month %}
								<div class="budget-header subtitle2 flex-1" >
									<div class="budget-title" >{{ categor }}:</div >
									<div class="budget-su {% if per > 100 %} over{% endif %}
									{% if 75 < per < 100 %} startover{% endif %}" >{{ su|int }} <span >&euro;</span ></div >
									<div class="budget-from" >from</div >
									<div class="budget-amount" >{{ amount|int }}<span >&euro;</span ></div >

									<div class="budget-can-spend mt-0 ml-auto" >
										{% set remained = amount - su %}
										{% if remained > 0 %}Left: <strong >{{ remained|int }}&euro;</strong > {% endif %}
									</div >
								</div >

								<div class="budget-progress" >
									<div class="progress
									{% if per > 100 %} over{% endif %}
									{% if 75 < per < 100 %} startover{% endif %}
									" style="width:{{ per|int }}%" >{{ per|int }}%
									</div >

									<div class="budget-progress-hide" >
										<div class="today" style="left: {{ today }}%" ></div >
									</div >


								</div >


							</div >

						</div >

					</div >

				{% endfor %}


			</div >

			<div class="divider" ></div >


			<div class="cards relative mt-10" >
				{% if  this_month_transactions|length == 0 %}
					<div class="no-results mt-50" >
						You have no expenses or incomes this month
					</div >
				{% endif %}
				{% for key, list in this_month_transactions|groupby('day')|sort(attribute='0', reverse=True) %}
					<div class="cards-day" >{{ key }} {{ this_month|int|month_name }}</div >
					{% for id, year, month, day,  category, color, subcategory, sum, comment in list %}

						<div
								class="card flex items-center relative overflow-hidden flex-wrap {% if not color %} card-income {% endif %}" >
							<div class="flex items-center w-full" >
								<div class="card-info flex flex-1" >
									<div class="flex flex-1" >
										<span class="card-amount flex items-center" >  {{ sum }} <span >&euro;</span > </span >
										<div class="flex flex-col justify-center ml-15" >

											<div class="flex items-center" >
												<span class="{{ color }} card-category" ><span >{{ category }}</span >    </span >
												{% if (subcategory != '') and (subcategory !=None) %}
													<span class="card-subcategory ml-10" >  {{ subcategory }}  </span >
												{% endif %}
											</div >



											{% if (comment != '') and (comment !=None) %}
												<span class="block mt-5 card-comment" >  {{ comment }} </span >
											{% endif %}
										</div >

									</div >
									{% if not color %}
										<div class="card-btns hidden flex items-center flex-shrink-0 ml-auto" >
											<a href="/income-edit/{{ id }}" class="btn-ac" >
												<i class="fa-solid fa-pen-to-square" ></i >
											</a >

											<a href="/income-edit/{{ id }}" class="btn-ac" >
												<i class="fa-solid fa-pen-to-square" ></i >
											</a >

										</div >

									{% else %}
										<div class="card-btns hidden flex items-center flex-shrink-0 ml-auto" >
											<a href="/{{ id }}/edit" class="btn-ac" >
												<i class="fa-solid fa-pen-to-square" ></i >
											</a >
											<form action="{{ url_for('delete', id=id) }}" method="POST" class=" inline-block" >

												<button type="submit" name="to-index" class="btn-ac ac-delete"
																onclick="return confirm('Are you sure you want to delete this post?')" />
												<i class="fa-regular fa-trash-can" ></i >
												</button>
											</form >
										</div >

									{% endif %}

								</div >


							</div >


						</div >
					{% endfor %}
				{% endfor %}

			</div >


		</div >
	</div >

{% endblock %}

