{% extends 'base.html' %} {% block content %}
	<div class="page_title {{ gradient }}" ><span >{% block title %} {{ title }} {% endblock %}</span ></div >
	<div class="content" >

		<div class="flex flex-col" >


			<div class="mt-10" >
				Sum expenses this month:

				{% for amount in sum_this_month %}
					{{ amount.amount }} $
				{% endfor %}
			</div >

			<div class="mt-10" >
				Sum Incomes this month:

				{% for amount in sum_incomes_this_month %}
					{{ amount.amount }} $
				{% endfor %}
			</div >

			<div class="mt-10" >
				By category this month:
				<br >
				{% for amount, category in category_sum_total %}
					{{ amount }} $ = {{ category }}<br >
				{% endfor %}

			</div >

			<div class="mt-20" >
				{{ this_month|int|month_name }} {{ this_year }}
			</div >

			<div class="cards mt-10" >
				{% for id, year, month, day,  category, color, subcategory, sum, comment in this_month_expenses %}
					<div class="card flex relative overflow-hidden" >
						<a href="/{{ id }}/edit" >edit</a >
						<span > / $ {{ sum }} / </span >
						<span > / {{ month }}.{{ year }} </span >
						<span class="{{ color }}" > / {{ category }} / </span >
						{% if (subcategory != '') and (subcategory !=None) %}
							<span > / {{ subcategory }} / </span >
						{% endif %}
						{% if (comment != '') and (comment !=None) %}
							<span > / {{ comment }} / </span >
						{% endif %}
					</div >
				{% endfor %}
			</div >


		</div >
	</div >

{% endblock %}

