{% extends 'base.html' %} {% block content %}
	<div class="page_title {{ gradient }}" >
		<a href="#menu" class="side-panel-toggle" ><span class="line1" ></span ><span class="line2" ></span ></a >

		<span >{% block title %} {{ title }} {% endblock %}</span >
		<button class="back-button" ><i class="fa-solid fa-chevron-left" ></i ></button >
	</div >
	<div class="content content-stats w-full" >


		<div class="divider-title ml-30 mb-5" ><span >Expenses vs Incomes:</span ></div >

<div class="mb-50 ml-30 mr-30 mt-20" style=""><canvas id="myChart" width="400" height="200" style=" max-height: 250px"></canvas></div>
		
		

<script>
	const ctx = document.getElementById('myChart').getContext('2d');
	const myChart = new Chart(ctx, {
		type: 'line',
		
		data: {
			
			labels : [
					{% for sum, month, year in sum_months_income_chart %}
						"{{ month }}/{{ year }}",
						{% endfor %}
					],
					
			datasets: [{
				type: 'line',
				label: 'Expenses',
				borderColor: 'rgb(250, 40, 40)',
				tension: 0.2,
				borderJoinStyle: 'round',
				borderWidth: 2,
				
				data : [
					{% for sum, month, year in sum_months_chart %}
						"{{ sum|int }}",
						{% endfor %}
					],
			}, {
				type: 'line',
				label: 'Incomes',
				borderColor: 'rgb(89, 250, 40)',
				borderWidth: 2,
				tension: 0.2,
				
				data : [
				
					{% for amount, month, year in sum_months_income_chart %}
						"{{ amount|int }}",
						{% endfor %}
					],
			}],			
			
		},
		options: {
			
			scales: {
				x: {
					ticks: {
						
						color: '#979595',
				},
			},
				y: {
					beginAtZero: false,
					
					ticks: {
						color: '#979595',
						callback: function(value, index, ticks) {
							return value + ' €';
						}
					}, 
					
				},
				
			},
			plugins: {
				
				legend: {
					display: true,
					align: 'start',
					position: 'bottom',
					labels: {
						padding: 20,
						boxHeight: 0,
						color: '#979595'
					},
					title: {
						fontColor: '#979595'
					},
					
				},
				
				
				
			},
			elements: {
				fontColor: 'red',
				bar: {
					borderSkipped: true
				}
			},
			borderRadius: 3,
			minBarLength: 10,
			indexAxis: 'x',
			responsive: true,
		}
	});
	</script>
			
	<div class="divider-title ml-30 mb-5" ><span >Expenses All Time:</span ></div >

	<div class="mb-50 ml-30 mr-30 mt-20" style=""><canvas id="myChart2" width="400" height="600" style=" max-height: 400px"></canvas></div>
		
		

		<script>
			const ctx2 = document.getElementById('myChart2').getContext('2d');
			const myChart2 = new Chart(ctx2, {
				type: 'bar',
				data: {
					labels : [
							{% for sum, category, month, year in category_sum_total %}
								"{{ category }}",
								{% endfor %}
							],
					datasets: [{
						label: 'Total €',
						data : [
							{% for sum, category, month, year in category_sum_total %}
								"{{ sum }}",
								{% endfor %}
							],
						backgroundColor: [
							'rgba(255, 99, 132, 0.4)',
							'rgba(54, 162, 235, 0.4)',
							'rgba(255, 206, 86, 0.4)',
							'rgba(75, 192, 192, 0.4)',
							'rgba(153, 102, 255, 0.4)',
							'rgba(255, 159, 64, 0.4)'
						],
						borderColor: [
							'rgba(255, 99, 132, 0.9)',
							'rgba(54, 162, 235, 0.9)',
							'rgba(255, 206, 86, 0.9)',
							'rgba(75, 192, 192, 0.9)',
							'rgba(153, 102, 255, 0.9)',
							'rgba(255, 159, 64, 0.9)'
						],
						borderWidth: 1
					}]
				},
				options: {
					scales: {
						x: {
							ticks: {
								color: '#979595',
								callback: function(value, index, ticks) {
									return value + ' €' ;
								}
						},
					},
						y: {
							beginAtZero: true,
							ticks: {
								color: '#979595',
								
						},
						}
					},
					plugins: {
						legend: {
							display: false,
							
							
						},
						
					},
					elements: {
						bar: {
							borderSkipped: false
						}
					},
					borderRadius: 3,
					minBarLength: 10,
					indexAxis: 'y',
					responsive: true,
				}
			});
			</script>
			 






		<div class="flex flex-col w-full" >

			<div class=" w-full" >
				<div class="divider-title ml-30 mb-5" ><span >Expenses by months:</span ></div >
				<div class="splide-months-index splide" >
					<div class="splide__track index-months-slide w-full" >
						<ul class="splide__list index-months-slide w-full" >

							{% for key, list in sum_months|groupby('year')|sort(attribute='0', reverse=True) %}
								{% for key2, list2 in list|groupby('month')|sort(attribute='0', reverse=True) %}
									<li class="splide__slide" >
										<div class="index-month" >{{ key2|int|month_name }} - {{ key }}</div >
										{% for key3, list3 in list2|groupby('month') %}

											{% set total = {'value': 0} %}
											{% for sum, month, year in list3 %}
												{% if total.update({"value": sum|int + total.value|int }) %}{% endif %}

											{% endfor %}
											<div class="index-total" >{{ total.value }} &euro;</div >
											<div class="index-count" >{{ list3|count }} expenses</div >
										{% endfor %}
									</li >
								{% endfor %}
							{% endfor %}

						</ul >
					</div >


				</div >


			</div >

			<div class=" w-full" >
				{#				<div class="index-months-title subtitle ml-50" >Incomes by months:</div >#}
				<div class="divider-title ml-30 mb-5" ><span >Incomes by months:</span ></div >
				<div class="splide-months-income-index splide w-full" >
					<div class="splide__track index-months-slide index-months-income-slide w-full" >
						<ul class="splide__list index-months-slide w-full" >

							{% for key, list in sum_months_income|groupby('year')|sort(attribute='0', reverse=True) %}
								{% for key2, list2 in list|groupby('month')|sort(attribute='0', reverse=True) %}
									<li class="splide__slide" >
										<div class="index-month" >{{ key2|int|month_name }} - {{ key }}</div >
										{% for key3, list3 in list2|groupby('month') %}

											{% set total = {'value': 0} %}
											{% for amount, month, year in list3 %}
												{% if total.update({"value": amount|int + total.value|int }) %}{% endif %}

											{% endfor %}
											<div class="index-total" >{{ total.value }} &euro;</div >
											<div class="index-count" >{{ list3|count }} incomes</div >
										{% endfor %}
									</li >

								{% endfor %}



							{% endfor %}

						</ul >
					</div >


				</div >

			</div >


			<div class="" >
				{#				<div class="subtitle ml-50" >Expenses by category:</div >#}
				<div class="divider-title ml-30 mb-5" ><span >Expenses by category:</span ></div >
				<div class="splide-by-months splide w-full" >
					<div class="splide__track index-by-months-slide  w-full" >
						<ul class="splide__list  index-by-months-slide w-full" >

							{% for key, list in category_sum_total|groupby('year')|sort(attribute='0', reverse=True) %}
								{% for key2, list2 in list|groupby('month')|sort(attribute='0', reverse=True) %}
									<li class="splide__slide" >
										<div class="index-month" >{{ key2|int|month_name }} - {{ key }}</div >
										<br >
										{% for key3, list3 in list2|groupby('month') %}


											{% for key4, list4 in list3|groupby('category') %}
												{% set total = {'value': 0} %}
												{% for sum, category, month, year in list4 %}
													{% if total.update({"value": sum|int + total.value|int }) %}{% endif %}
												{% endfor %}
												<div class="index-total flex items-center" >{{ key4 }} <span
														class="ml-auto" >{{ total.value }} </span >&euro;
												</div >
											{% endfor %}




										{% endfor %}
									</li >
								{% endfor %}
							{% endfor %}


						</ul >
					</div >


				</div >
			</div >

			<div class="mt-20 p-20 hidden" >
				{{ date }}
			</div >


		</div >
	</div >

{% endblock %}

