{% extends 'base.html' %} {% block content %}
	<div class="page_title {{ gradient }}" >
		<a href="#menu" class="side-panel-toggle" ><span class="line1" ></span ><span class="line2" ></span ></a >

		<span >{% block title %} {{ title }} {% endblock %}</span >
	</div >
	<div class="content w-full" >


		<div class="flex flex-col w-full" >

			<div class="mt-10 w-full" >
				<div class="index-months-title subtitle" >Expenses by months:</div >
				<div class="splide-months-index splide" >
					<div class="splide__track index-months-slide w-full" >
						<ul class="splide__list index-months-slide w-full" >

							{% for key, list in sum_months|groupby('year')|sort(attribute='0', reverse=True) %}
								{% for key2, list2 in list|groupby('month')|sort(attribute='0', reverse=True) %}
									<li class="splide__slide" >
										<div class="index-month" >{{ key2|int|month_name }} - {{ key }}</div >
										{% for key3, list3 in list2|groupby('month') %}

											{% set total = {'value': 0} %}
											{% for sum, month, year in list3 %}
												{% if total.update({"value": sum|int + total.value|int }) %}{% endif %}

											{% endfor %}
											<div class="index-total" >{{ total.value }} &euro;</div >
											<div class="index-count" >{{ list3|count }} expenses</div >
										{% endfor %}
									</li >
								{% endfor %}
							{% endfor %}

						</ul >
					</div >


				</div >


			</div >


			<div class="mt-10" >
				<div class="subtitle" >Expenses by category:</div >

				<div class="splide-by-months splide w-full" >
					<div class="splide__track index-by-months-slide  w-full" >
						<ul class="splide__list  index-by-months-slide w-full" >

							{% for key, list in category_sum_total|groupby('year')|sort(attribute='0', reverse=True) %}
								{% for key2, list2 in list|groupby('month')|sort(attribute='0', reverse=True) %}
									<li class="splide__slide" >
										<div class="index-month" >{{ key2|int|month_name }} - {{ key }}</div >
										<br >
										{% for key3, list3 in list2|groupby('month') %}


											{% for key4, list4 in list3|groupby('category') %}
												{% set total = {'value': 0} %}
												{% for sum, category, month, year in list4 %}
													{% if total.update({"value": sum|int + total.value|int }) %}{% endif %}
												{% endfor %}
												<div class="index-total flex items-center" >{{ key4 }} <span
														class="ml-auto" >{{ total.value }} </span >&euro;
												</div >
											{% endfor %}




										{% endfor %}
									</li >
								{% endfor %}
							{% endfor %}


						</ul >
					</div >


				</div >
			</div >


			<div class="mt-10 w-full" >
				<div class="index-months-title subtitle" >Incomes by months:</div >
				<div class="splide-months-income-index splide w-full" >
					<div class="splide__track index-months-slide index-months-income-slide w-full" >
						<ul class="splide__list index-months-slide w-full" >

							{% for key, list in sum_months_income|groupby('year')|sort(attribute='0', reverse=True) %}
								{% for key2, list2 in list|groupby('month')|sort(attribute='0', reverse=True) %}
									<li class="splide__slide" >
										<div class="index-month" >{{ key2|int|month_name }} - {{ key }}</div >
										{% for key3, list3 in list2|groupby('month') %}

											{% set total = {'value': 0} %}
											{% for amount, month, year in list3 %}
												{% if total.update({"value": amount|int + total.value|int }) %}{% endif %}

											{% endfor %}
											<div class="index-total" >{{ total.value }} &euro;</div >
											<div class="index-count" >{{ list3|count }} incomes</div >
										{% endfor %}
									</li >

								{% endfor %}



							{% endfor %}

						</ul >
					</div >


				</div >

			</div >


		</div >
	</div >

{% endblock %}

