{% extends 'base.html' %} {% block content %}
	<div class="page_title {{ gradient }}"><span>{% block title %} {{ title }} {% endblock %}</span></div>

	<div class="content p-0">
		<div class=" cards flex-1 mx-auto mt-50">


			<div class="splide slider-years mt-20">
				<div class="splide__track">
					<ul class="splide__list slider-cards  ">
						{% for year, month in all|groupby('year')|sort(attribute='0', reverse=True) %}
							<li class="splide__slide slider-card splide-months">
								<div class="ml-30 text-center"> {{ year }}</div>

								<div class="splide__track">
									<div class="splide__list">
										{% for  mn, year in month|groupby('month')|sort(attribute='0', reverse=True) %}

											<div class=" splide__slide">
												<div class="ml-10 mt-5">
													{{ mn|int|month_name }}
												</div>

												<div class="card ml-10 mr-10 mb-42 slider-card-inner">
													{% for year, month, day, category,  subcategory, sum, comment in year %}
														<div class="">
															<span>{{ day }} {{ month|int|month_abbr }} {{ year }}</span> -
															<span>{{ category }} {% if subcategory %}({{ subcategory }}) {% endif %}
																- {{ sum }} &#8364; - {{ comment }}</span>
														</div>
													{% endfor %}

												</div>

											</div>

										{% endfor %}

									</div>
								</div>

							</li>
						{% endfor %}

					</ul>
				</div>
			</div>


		</div>
	</div>


{% endblock %}

